<h1>Hello, {{this.first_name}} {{this.last_name}}!</h1>
<h1>Your student is {{this.student_first_name}} {{this.student_last_name}}</h1>
<h2>Classes:</h2>
{{#each courses}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{this.course_name}}</h3>
  </div>
  <div class="panel-body">
    Completion: {{this.completion}}
  </div>
</div>
{{/each}}